pom.xml
*jar
/lib/
/classes/
.lein-deps-sum
/resources/public/cljs/bootstrap.js
/resources/public/cljs/cljs/core.cljs
/resources/public/cljs/cljs/core.js
/resources/public/cljs/test.js
/resources/public/cljs/monalisachallenge/client.js
/resources/public/cljs/monalisachallenge/representation.js
/resources/public/cljs/cljs/reader.cljs
/resources/public/cljs/cljs/reader.js
